:root{
    --bgcol: #000000;
    --cardcol: #ccd;
    --white: #ffffff;
    --linkcol: #00b8d4;
    --textcol: #333;
    --currpagecol: #b2f5ea; 
}

* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    position: relative;
    padding-bottom: 3rem;
}

header {
    background-color: var(--bgcol);
    text-align: left;
    height: 3rem;
    display: flex;
    justify-content: left;
    align-items: center;
}

.nav-link {
    padding: 1rem;
    color: var(--linkcol);
    text-decoration: none;
}

.current-page {
    padding: 1rem;
    color: var(--currpagecol);
    text-decoration: none;
    font-weight: bold;
}

.nav-link:hover, .current-page:hover {
    color: var(--white);
}

main {
    margin: 128px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main * {
    vertical-align: middle;
    text-align: center;
}

.portrait {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 1rem;
}

main h1, main h2 , main a{
    color: var(--textcol);
    margin: 0 0.5rem;
    margin-top: 1rem;
}

main h1 {
    font-size: large;
    font-weight: bold;
}

main h2 {
    font-size: medium;
}


.title-text {
    font-size: large;
    font-weight: bold;
}

main p {
    margin: 0.5rem;
}

.table-wrapper{
    vertical-align: middle;
    padding: 1rem;
}

table {
    width: 100%;
    margin: 0;
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
}

td {
    width: 11rem;
    height: 2rem;
}

.project-card-space {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.project-card {
    width: 300px;
    background-color: var(--cardcol);
    border-radius: 10px;
    padding: 0.5rem;
    margin: 1rem;
}

.project-card p {
    text-align: justify;
}

.project-card-image {
    margin-bottom: 0.5rem;
    width: 270px;
    height: 270px;
    border-radius: 8px;
}

form {
    margin: 0, 0.5rem;
    width: 70%;
}

fieldset {
    border: none;
}

label {
    display: block;
    margin: 0.5rem;
}

#email, select, textarea {
    padding: 0.8rem;
    border-radius: 8px;
    border: 1px solid var(--bgcol);
    width: 100%;
}

#attachment {
    padding: 0.8rem;
}

#yesno {
    transform: scale(1.5);
    margin: 0 0.8rem;
    padding: 0.8rem;
}

#submit {
    width: 100%;
    background-color: #77e;
    border: none;
    border-radius: 8px;
    height: 2.5rem;
    margin-top: 0.5rem;
    font-weight: bold;
}

#generate-email {
    font-family: 'Times New Roman';
}



@media screen and (max-width: 500px){
    td {
        width: 3.5rem;
        height: 2rem;
    }

    .project-card-space{
        flex-direction: column;
    }
    
}

.scheduled {
    background-color: var(--linkcol);
}

footer {
    background-color: var(--bgcol);
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
}

.footer-text {
    color: var(--white);
}